.dancers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

mat-card {
  background-color: lavenderblush;
  margin-bottom: 5px;
}

a {
  color: #888;
  text-decoration: none;
}

button {
margin-left: 5px;
}

button:hover {
  background-color: lightblue;
}

button.delete {
  margin-left: 1150px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}