.battle {
  display: flex;
}

.dancer {
  flex: 1;
}

.right-align {
  text-align: right;
}

mat-form-field {
  margin-top: 10px;
}

h1 {
  color: purple;
}

.profile-image {
  height: 50px;
  width: 50px;
}