<div *ngIf="dancer">
  <h2>{{ dancer.name }} Details</h2>
  <div>
    <span>id: </span>{{dancer.id}}</div>

  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="dancer.name" placeholder="name" />
    </mat-form-field>
  </div>

  <h2>RATINGS:</h2>

  <div>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="ratings.moonwalk" placeholder="moonwalk rating" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="ratings.sprinkler" placeholder="sprinkler rating" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="ratings.worm" placeholder="worm rating" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="ratings.disco" placeholder="disco rating" />
    </mat-form-field>
  </div>


  <button mat-raised-button (click)="goBack()">go back</button>
  <button mat-raised-button (click)="save()">save</button>
</div>