<h2>My Dancers</h2>

<div>
  <mat-form-field>
    <input matInput placeholder="Dancer Name" #heroName />
  </mat-form-field>

  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<mat-card *ngFor="let hero of heroes$ | async">
  <mat-card-content>
    <mat-card-title>
      {{hero.name}}
    </mat-card-title>

    <button mat-raised-button>
      <a routerLink="/detail/{{hero.id}}">edit</a>
    </button>

    <button class="delete" (click)="delete(hero)">
      <i class="material-icons">delete_forever</i>
    </button>
  </mat-card-content>
</mat-card>